.header {
  position: sticky;
  z-index: 10;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
  height: 8rem;
}

.iconsContainer {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding-top: 0.6rem;
}
